/* resetpassword.css */

.rp-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f8;
}

.rp-reset-password-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.rp-reset-password-form {
  display: flex;
  flex-direction: column;
}

.rp-h2 {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.rp-label {
  margin-bottom: 10px;
  color: black;
}

.rp-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.rp-input:focus {
  border-color: #007bff;
  outline: none;
}

.rp-submit-btn {
  background-color: #007bff;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.rp-submit-btn:hover {
  background-color: #0056b3;
}

.rp-link-style {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.rp-link-style:hover {
  color: #0056b3;
}

.rp-message {
  text-align: center;
  margin-top: 10px;
}

.rp-error {
  color: red;
}

.rp-success {
  color: green;
}
